/* overall containers */
.viewContainer {
  display: flex;
  position: relative;
  background-color: rgb(34, 32, 40);
  overflow: hidden;
}

.align {
  width: 100%;
}

/* "Event Dashboard" */
.eventTabHeader {
  margin-top: 2em;
  font-size: 5vw;
  text-align: center;
}

/* Search Tab */
.searchContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchBar {
  width: 50%;
  height: 50px;
  padding: 10px;
  text-indent: 3%;
  border-radius: 25px;
  font:
    500 1.5rem "Roboto",
    monospace;
}

/* Advanced Search Tab */
.advancedSearchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advancedSearchToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 0.75em solid transparent;
  border-bottom: 0.75em solid transparent;
  border-left: 0.75em solid rgb(220, 220, 220);
  border-right: 0;
  border-radius: 5px;
  transition: 0.15s ease-in;
}
.arrowMove {
  transform: translate(15px);
  transition: 0.15s ease-in;
}
.advancedSearchToggle:hover .arrowMove {
  transform: translate(20px);
  transition: 0.1s ease-out;
}

.closedAdvancedMenuContainer {
  height: 0;
  width: 20%;
  border: 0;
  display: flex;
  background-color: rgb(34, 32, 40);
  box-shadow: none;
  justify-content: center;
  transition: 0.15s ease-in;
}

.advancedMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 13em;
  width: 50%;
  background-color: var(--darkcardbg);
  border: 2.5px solid rgba(220, 220, 220, 0.35);
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.filterWrapper {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.filter1,
.filter2,
.filter3 {
  width: 100%;
  height: 95%;
  font:
    1.3em "Roboto",
    monospace;
  color: rgb(135, 135, 135);
  transition: 0.35s ease-in;
  background-color: rgb(65, 58, 85);
  border: 2px solid rgba(220, 220, 220, 0.35);
  border-top: none;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}

.filter1:hover,
.filter2:hover,
.filter3:hover {
  font:
    1.4em "Roboto",
    monospace;
  height: 100%;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.filter1.active,
.filter2.active,
.filter3.active {
  font-weight: 800;
  background-color: rgba(137, 43, 115, 0.9);
  color: rgb(220, 220, 220);
  border: none;
  border-bottom: 5px solid rgba(220, 220, 220, 0.35);
}
.filter2.active {
  background-color: rgba(71, 123, 135, 0.9);
}
.filter3.active {
  background-color: rgba(169, 98, 48, 0.9);
}

.advancedInline {
  display: grid;
  align-items: center;
  height: 100%;
  gap: 5vw;
  transition: 0.3s ease-in;
}

.advancedInlineWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid rgba(220, 220, 220, 0.35);
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding-bottom: 15px;
  height: 60%;
  margin-bottom: 15px;
  transition: 0.3s ease-in;
}

.legend {
  text-align: center;
  padding: 5px;
  font:
    1em "Roboto",
    monospace;
  color: rgba(220, 220, 220, 0.35);
}

.advancedButton,
.advancedButtonOn {
  margin: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font:
    1.3em "Roboto",
    monospace;
  color: rgb(135, 135, 135);
  background-color: rgb(65, 58, 85);
  transition: 0.35s ease-in;
  border: 2px solid rgba(220, 220, 220, 0.35);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}
.advancedButtonOn {
  color: rgb(220, 220, 220);
  background-color: rgb(109, 81, 181);
  font-weight: 700;
}
.advancedButton:hover,
.advancedButtonOn:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.advancedButton:active,
.advancedButtonOn:active {
  transform: translateY(0);
  transition: 0.15s ease-out;
}

/* Events Section */
.eventContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
  padding-top: 25px;
  gap: 20px;
}

.noEvents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noEventsText {
  font-size: 3em;
}

@media screen and (max-width: 768px) {
  .viewContainer {
    padding-top: 30px;
  }
  .eventContainer {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  .eventTabHeader {
    font-size: 2em;
  }
  .searchBar {
    width: 80%;
  }
  .eventHeader {
    font-size: 8vw;
  }
  .noEventsText {
    font-size: 2em;
  }

  .filter1,
  .filter2,
  .filter3 {
    font:
      95% "Roboto",
      monospace;
  }
  .filter1:hover,
  .filter2:hover,
  .filter3:hover {
    font:
      10% "Roboto",
      monospace;
    height: 95%;
  }

  .advancedMenuContainer {
    width: 80%;
    height: 16em;
  }
  .advancedInline {
    width: 100%;
    justify-content: space-around;
    gap: 2vw;
  }
  .advancedInlineWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .legend {
    font:
      90% "Roboto",
      monospace;
  }

  .advancedButton,
  .advancedButtonOn {
    font-size: 100%;
    width: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .arrow {
    transition: none;
  }
  .arrowMove {
    transform: translateX(15px);
    transition: none;
  }
  .advancedSearchToggle:hover .arrowMove {
    transform: translateX(15px);
    transition: none;
  }
  .filter1,
  .filter2,
  .filter3 {
    transition: none;
  }
  .filter1:hover,
  .filter2:hover,
  .filter3:hover {
    font:
      1.3em "Roboto",
      monospace;
    height: 95%;
    transition: none;
  }
  .advancedButton,
  .advancedButtonOn {
    transition: none;
  }
  .advancedMenuContainer {
    transition: none;
  }
}
