

:root {
  --background: rgb(18, 17, 31);
  --cardBackground: rgb(30, 27, 47);

  --whiteText: rgb(210, 210, 210);
  --greyText: rgb(135, 135, 135);

  --activityEvent: rgba(167, 106, 62, 0.9);
  --techEvent: rgba(137, 43, 115, 0.9);
  --workEvent: rgba(62, 136, 147, 0.9);
  
}

body {
  margin: 0!important;
}

h1 {
  font:
    800 1.8rem "Roboto",
    monospace;
  color: var(--whiteText);
  line-height: 2.7rem;
}

h2 {
  font:
    500 1.5rem "Roboto",
    monospace;
  color: var(--whiteText);
}

h3 {
  font:
    800 1.25rem "Roboto",
    monospace;
  color: var(--whiteText);
}

h4 {
  font:
    700 1.1rem "Roboto",
    monospace;
  color: var(--whiteText);

}

p {
  font:
    500 1rem "Roboto",
    monospace;
  color: var(--whiteText);
  line-height: 2rem;
}

a {
  font:
    500 1rem "Roboto",
    monospace;
  color: var(--whiteText);
  text-decoration: none;
}

@media screen and (max-width: 768px){
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.1rem;
    font-weight: 400;

  }
  h4 {
    font-size: 1rem;
    font-weight: 100;
  }
}