:root {
  --darkbg: rgb(28, 25, 38);
  --darkcardbg: rgb(37, 32, 50);
  --eventbg: rgb(34, 32, 40);
}

body {
  margin: 0!important;
}

h1 {
  font:
    800 1.8rem "Roboto",
    monospace;
  color: rgb(220, 220, 220);
}

h2 {
  font:
    500 1.5rem "Roboto",
    monospace;
  color: rgb(220, 220, 220);
}

h3 {
  font:
    800 1rem "Roboto",
    monospace;
  color: rgb(220, 220, 220);
}

p {
  font:
    500 1rem "Roboto",
    monospace;
  color: rgb(220, 220, 220);
  line-height: 2rem;
}

a {
  font:
    500 1rem "Roboto",
    monospace;
  color: rgb(220, 220, 220);
  text-decoration: none;
}
