.cardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(0deg, rgb(14, 13, 17) 30%, var(--cardBackground));

  border-radius: 10px;
  box-shadow:
    0 10px 25px 5px rgba(0, 0, 0, 0.35),
    inset 0 0 30px 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 20px;
  transition: 0.25s ease-in;
  padding-top: 100px;
}
.cardWrapper:hover {
  cursor: pointer;
  box-shadow:
    0 15px 30px 7px rgba(0, 0, 0, 0.6),
    inset 0 0 30px 5px rgba(0, 0, 0, 0.35);
  transform: translateY(-5px);
  transition: 0.2s ease-out;
}

.cardTags {
  top: 2.5px;
  position: absolute;
  left: 25px;
  z-index: 1;
}
.eventTypeTech,
.eventTypeWork,
.eventTypeAct {
  background-color: var(--activityEvent);
  padding: 15px;
  border-radius: 60px;
  box-shadow: 0 5px 15px 2.5px rgba(0, 0, 0, 0.5);
}
.eventTypeTech {
  background-color: var(--techEvent);
}
.eventTypeWork {
  background-color: var(--workEvent);
}

.cardText {
  bottom: 0;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-radius: 7.5px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .cardWrapper {
    height: auto;
    padding-top: 80px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .cardWrapper {
    transition: none;
  }
  .cardWrapper:hover {
    transform: none;
  }
}
