.cardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgb(37, 32, 50);
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 20px;
  transition: all 0.3s ease;
  height: 300px;
}
.cardWrapper:hover {
  box-shadow: 0 15px 30px 7px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
  cursor: pointer;
}

.cardTags {
  top: 10px;
  position: absolute;
  left: 25px;
  z-index: 1;
}
.eventTypeTech,
.eventTypeWork,
.eventTypeAct {
  background-color: rgba(169, 98, 48, 0.9);
  padding: 15px;
  border-radius: 60px;
  box-shadow: 0 5px 15px 2.5px rgba(0, 0, 0, 0.5);
}
.eventTypeTech {
  background-color: rgba(137, 43, 115, 0.9);
}
.eventTypeWork {
  background-color: rgba(71, 123, 135, 0.9);
}

.cardText {
  bottom: 0;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: rgba(13, 11, 17, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 -50px 50px 0 rgba(13, 11, 17, 0.55);
  border-radius: 7.5px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .cardWrapper {
    height: 350px;
  }
}
